:root {
  --primary-color: #fff;
  --secondary-color: #f9f7fe;
  --primary-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

.index-banner {
  margin: 90px 0;
  padding: 70px 40px;
  background-image: url(https://as2.ftcdn.net/v2/jpg/04/96/35/41/1000_F_496354149_PXBCwImCfmmfXTuzKVJgFSAarsuZXBOs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.index-banner h1,
p {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.index-banner h1 {
  font-size: 66px;
  margin-bottom: 30px;
}

.index-banner p {
  font-size: 24px;
  line-height: 1.5;
}

.homepage h3 {
  font-family: var(--primary-font-family);
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

img {
  border-radius: 12px;
}

.about-banner {
  padding: 50px;
  margin-bottom: 80px;
}

.about-banner .about-info {
  position: relative;
  top: 60px;
}

.about-banner h2,
p,
.follow-link {
  font-family: var(--primary-font-family);
}

.about-banner h2,
.follow-link {
  font-weight: bold;
}

.about-banner h2 {
  font-size: 58px;
}

.about-banner p {
  color: black;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}

.about-banner .follow-link {
  font-size: 18px;
}

.about-banner .icon {
  padding: 0 20px;
}

.about-me h1,
h3,
h4 {
  font-family: var(--primary-font-family);
  font-weight: bold;
}

.about-me h1,
h3 {
  text-align: center;
}

.about-me h1 {
  font-size: 72px;
  margin: 90px 0;
}

.about-me h3 {
  font-size: 36px;
  margin: 40px;
}

.about-me h4 {
  font-size: 24px;
}

.about-me p {
  color: black;
  text-align: left;
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}

@media (max-width: 810px) {
  .index-banner {
    background-image: none;
    background-color: #948500;
  }

  .index-banner h1 {
    font-size: 46px;
  }

  .homepage h3 {
    font-size: 26px;
    text-align: center;
  }

  .index-banner p {
    font-size: 20px;
  }

  .homepage img {
    width: 330px;
  }

  .about-me h1 {
    font-size: 62px;
    margin: 50px 0;
  }

  .about-banner p,
  h2,
  .follow-link {
    text-align: center;
  }

  .about-banner {
    padding: 10px;
  }

  .about-banner h2 {
    font-size: 46px;
  }

  .about-banner p {
    margin: 0 auto;
  }

  .about-banner .follow-link {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .about-me p,
  h4 {
    text-align: center;
  }
}
