:root {
  --primary-color: #fff;
  --secondary-color: #f9f7fe;
  --primary-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

header {
  margin: 90px 0;
  padding: 70px 40px;
  background-image: url(https://as2.ftcdn.net/v2/jpg/04/96/35/41/1000_F_496354149_PXBCwImCfmmfXTuzKVJgFSAarsuZXBOs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
p {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 66px;
  margin-bottom: 30px;
}

p {
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-family: var(--primary-font-family);
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

h6 {
  padding: 6px;
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 16px;
}

img {
  border-radius: 12px;
}

footer {
  background: var(--secondary-color);
  padding: 20px;
}

@media (max-width: 576px) {
  header {
    background-image: none;
    background-color: #948500;
  }

  h1 {
    font-size: 46px;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  h6 {
    font-size: 8px;
  }

  p {
    font-size: 14px;
  }

  img {
    width: 330px;
  }
}
